<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean name="studentRepository" class="ro.ucv.inf.ead.spring.repository.StudentRepositoryImpl"
		init-method="init" destroy-method="destroy" scope="singleton" />
	<!-- 
	<bean name="studentService" class="ro.ucv.inf.ead.spring.service.StudentServiceImpl">
		<constructor-arg index="0"  ref="studentRepository"/>
	</bean>
	 -->
	<bean name="studentService" class="ro.ucv.inf.ead.spring.service.StudentServiceImpl" autowire="constructor"/>
		

</beans>

