<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <display-name>Hello World Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>Hello World Servlet</display-name>
    <servlet-name>HelloWorldServlet</servlet-name>
    <servlet-class>ro.ucv.inf.servlet.ead.HelloWorldServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldServlet</servlet-name>
    <url-pattern>/HelloWorldServlet</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <display-name>Hello World Servlet</display-name>
    <servlet-name>HelloWorldParamServlet</servlet-name>
    <servlet-class>ro.ucv.inf.servlet.ead.HelloWorldParamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloWorldParamServlet</servlet-name>
    <url-pattern>/HelloWorldParamServlet</url-pattern>
  </servlet-mapping>
</web-app>